* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(https://img.freepik.com/vetores-premium/abstrato-digital-com-textura-de-placa-de-circuito-de-tecnologia-ilustracao-de-placa-mae-eletronica-conceito-de-comunicacao-e-engenharia-ilustracao-vetorial_41981-1858.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page {
    background-color: #f7f7f7d9;
}

.page .up i {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 50px;
    color: #059efd
}

.page .up i:hover {
    color: #0586d7;
}

header {
    background-color: #d7d7d797;
    padding: 20px;
}

header .nav-item a {
    color: #0A214A;
}

header .nav-item a:hover {
    color: #0069AA;
}

.slideshow {
    background-color: #f7f7f79e;
    padding-top: 10px;
    padding-bottom: 10px;
}

main .cards {
    padding-top: 10px;
    padding-bottom: 10px;
}

main .contato {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

main .contato p {
    font-size: 20px;
    word-spacing: 5px;
}

main .contato .img-fluid {
    width: 50em;
}

main .historia {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    word-spacing: 5px;
}

footer {
    background-color: #2b2f32;
    padding: 20px;
    color: white;
}

footer li a.nav-link {
    color: white;
}

footer li a.nav-link:hover {
    color: #CCC;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #CCC;
}

footer .icons {
    position: relative;
    top: 10px;
}

footer .icons i {
    font-size: 25px;
}

footer .icons a {
    margin-right: 10px;
}

footer .icons a .face:hover {
    color: #1877F2;
}

footer .icons a .insta:hover {
    color: rgb(158, 100, 24);
}

footer .icons a .twitter:hover {
    color: #1D9BF0;
}
footer .icons a .whatsapp:hover {
    color: #45C556;
}